
@{
    ViewBag.Title = "Error404";
}

<h2>Error404</h2>
<div class="container col-lg-6 col-lg-offset-4">
    <div class="alert alert-danger" > The Page is not accesible. Contact Administrator to get permission.</div>
</div>

