
@{
    ViewBag.Title = "Home";
}

<h2>Admin's Portal</h2>

<div class="container">
    <div class="container well col-lg-6">
        <div class="col-lg-6">
            @*<img src="~/Content/Medications.gif" style="height:190px;width:170px;" />*@
            <h3>@Html.ActionLink("Add a Doctor", "AddDoctor", "Admin", null, null)</h3>
        </div>
        <div class="col-lg-6">
            <p>You can add a doctor here</p>
        </div>

    </div>
    <div class="container well col-lg-6">
        <div class="col-lg-6">

            @*<img src="~/Content/KBjxxTD.gif" style="height:190px;width:190px;" />*@
            <h3>@Html.ActionLink("Add A User", "AddUser", "Admin", null, null)</h3>
        </div>
        <div class="col-lg-6">
            <p>You can add a user here </p>
        </div>
    </div>
    @*<div class="container well col-lg-6 col-lg-offset-3">
        <div class="col-lg-6">

            <img src="~/Content/blue-cross-clip-art-blue-cross.png" style="height:190px;width:190px;" />
            <h3 class="text-center">@Html.ActionLink("Data Manager and Admin's Portal", "Login", "UserAuth", null, null)</h3>
        </div>
        <div class="col-lg-6">
            <p>This portal let the doctor's see the patient history. Examining the previous data ensures an appropriate diagnosis. </p>
        </div>
    </div>*@


</div>


